@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
}

body {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
}

html {
  overflow-x: hidden;
}

.main_div {
  display: flex;
  width: 100%;
}

.jobster_left {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 5em;
  height: 100vh;
}

.side_navlink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_navlink nav {
  display: flex;
  justify-content: center;
  gap: 2.5em;
  align-items: start;
  width: 100%;
  padding-inline: 1em;
  flex-direction: column;
}

.side_navlink nav a {
  display: flex;
  gap: 1em;
  color: black;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.side_navlink nav a i {
  font-size: 1.3em;
  color: #627d98;
}

.jobster_right {
  background-color: #f0f4f8;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  align-items: center;
}

.togglelogo_sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.togglelogo_sidenav i {
  font-size: 2.5em;
  color: #3b82f6;
}

.profile_btn button {
  background-color: #3b81f6;
  border: none;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 0.3em;
  cursor: pointer;
  color: white;
}

.container_div {
  margin-top: 2em;
  background-color: white;
  width: 90%;
  display: flex;
  padding: 4em 2em;
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.192);
}

.container_div form {
  width: 100%;
  gap: 2em;
  display: flex;
  flex-direction: column;
}

.allinput_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.allinput_box > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.allinput_box input {
  padding: 0.6em;
  border: 1px solid gray;
  background-color: #f0f4f8;
  border-radius: 0.3em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  width: 100%;
}

.labelText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

select {
  padding: 0.6em;
  width: 100%;
  border-radius: 0.3em;
  color: black;
  background-color: #f0f4f8;
  border: none;
  border: 1px solid #c0bebe;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 1.7em;
}

.btns .clear_btn {
  border: none;
  color: white;
  background-color: #627d98;
  border-radius: 0.3em;
  padding-block: 0.6em;
  width: 50%;
}

.btns .clear_btn:hover {
  background-color: black;
}

.btns .submit_btn {
  border: none;
  color: white;
  background-color: #3b81f6;
  border-radius: 0.4em;
  padding-block: 0.6em;
  width: 50%;
}

.btns .submit_btn:hover {
  background-color: rgb(32, 32, 220);
}

.apear {
  display: none;
}

@media (max-width: 999px) {
  .jobster_left {
    display: none;
  }
  .graph_toggle {
    font-size: 0.7em;
  }

  .apear {
    display: block;
    width: 6em;
  }
  .dashboard h1 {
    display: none;
  }
  .allinput_box {
    display: flex;
    flex-direction: column;
  }
  .top_navbar{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .profile_btn button {
    align-items: center;
    font-size: 0.6em;
    border-radius: 0.3em;
  }
  .profile_btn{
    padding-top: 0.3em;
  }
}
